.form-control input{ 
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 2;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin: 5px;
}
.form-control select{
  font-size: 12px !important;
}
li#custom>span>span>input[type=text]{
    width: 15px;
}
.sg-input-title{
    width: 80% !important;
    font-size: 12px;
    font-weight: normal !important;
    margin: 5px;
}
/*input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out !important;
  -moz-transition: all 0.30s ease-in-out !important;
  -ms-transition: all 0.30s ease-in-out !important;
  -o-transition: all 0.30s ease-in-out !important;
  outline: none !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #DDDDDD !important;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  padding: 3px 0px 3px 3px !important;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
*/
.rise{
  -webkit-transition: all 0.30s ease-in-out ;
  -moz-transition: all 0.30s ease-in-out ;
  -ms-transition: all 0.30s ease-in-out ;
  -o-transition: all 0.30s ease-in-out ;
  outline: none ;
  padding: 3px 0px 3px 3px ;
  margin: 5px 1px 3px 0px ;
  border: 1px solid #DDDDDD ;
  border-radius: 5;
}
.rise:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) ;
  padding: 3px 0px 3px 3px ;
  margin: 5px 1px 3px 0px ;
  border: 1px solid rgba(81, 203, 238, 1) ;
  border-radius: 5;
}


.checkbox{
  margin: 5px;
}
span label{
  margin-left: 20px;
}
input[type=radio]{
  width: 0px !important;
}
h1{
  font-size: 15px !important;
}
.li{
  margin: 5px;
}
ul{
  display: inline-block;
}
.min-input{
  width: 30px !important;
}
.inline{
  display: inline !important;
}
.list, .list > li{
  font-size: 15px ;
  margin: 5px !important;  
}
.list{
  height: auto !important;
}