.bgtransparent{
	position:fixed;
	left:0;
	top:0;
 	/*background-color:#000;
 	opacity:0.6;
 	filter:alpha(opacity=60);*/
 	text-align:center;
 	width: 100%;
	height: 100%;
 	background-image: url('dialog.png');
 	z-index: 2;
 }

.bgmodal{
	position:fixed; 
	font-family:arial;
	font-size:1em;
	border:0.05em solid black;
	overflow:auto;
	color:#fff;
	text-align:center;	
	/*border:1px solid red;*/
}

.bgtransparentFile{
	position:fixed;
	left:0;
	top:0; 	
 	text-align:center;
 	width: 100%;
	height: 100%;
 	background-image: url('dialog.png');
 	z-index: 2;
 }

.bgmodalFile{
	position:fixed;
	overflow:auto;
	text-align:center;
}
