<!DOCTYPE html>
<html>
	<head>
		<!--#4DSCRIPT/_V3_proxy_getCotizacion-->
		<title>Cotizaciones</title>
		<meta charset="utf-8">
		<style>
			.u-cot-block{
				background-color: #ffb2ae !important;
				color: white;
				/*pointer-events: none;*/
				cursor: default;
				
			}
			.u-cot-block:active{
				/*background-color: #ffb2ae !important;
				color: white;*/
				/*pointer-events: none;*/
				/*cursor: default;*/
				
			}
			.u-cot-block input[type="checkbox"]{
				display: none;

			}
			.ui-tooltip *{
				font-size: 14px;
			}
			#userBlock{
				font-weight: bold;
			}
		<script defer src="/v3/script/block_by_use.js?<!--#4DTEXT _V3_version-->"></script>
		<script defer src="/v3/script/unblock.js?<!--#4DTEXT _V3_version-->"></script>
		<script defer src="/v3/script/requestUnblock.js?<!--#4DTEXT _V3_version-->"></script>

			.style_por_proyecto{
				width:150px!important;
				border-radius: 3px;
				margin-right: 2px;
				height:22px;
			}

		</style>

		<script defer src="/v3/script/block_by_use.js?<!--#4DTEXT _V3_version-->"></script>
		<script defer src="/v3/script/unblock.js?<!--#4DTEXT _V3_version-->"></script>
		<script defer src="/v3/script/requestUnblock.js?<!--#4DTEXT _V3_version-->"></script>
		<link rel="stylesheet" href="/v3/views/compras/lista.css?mshsmshjs">
		<script>
			let mostrar_marca_nocliente = <!--#4DTEXT mostrar_marca_nocliente-->;
			let cant_proyectos_registrados = <!--#4DTEXT cant_proyectos_registrados-->;
			$(document).ready(function() {
				// var socketNew = io.connect(nodeUrl);
				// try{
				// 	socketNew.on('cotizaciones', function(data) {
				// 		var container = $('table.results tbody');
				// 		for(var i = 0; i < data.length; i++){
				// 			data[i].id = String(data[i].id);
				// 			// var exchange = $;
				// 			// if( data[i].exchange == "Peso chileno"){
				// 			// 	exchange = "$";
				// 			// }else if(data[i].exchange == "UF"){
				// 			// 	exchange = "CLF";
				// 			// }else if(data[i].exchange == "DOLARES"){
				// 			// 	exchange = "USD";
				// 			// } 
				// 			if(!superUsers.includes(currentUser.username)){
				// 				if(data[i].block == "true" || data[i].block){							
				// 					container.find('tr[data-id='+data[i].id+']').addClass('u-cot-block').attr({'id':data[i].id, 'data-block': true, 'data-blockUserName':data[i].name, 'data-blockUserEmail': data[i].user_email, 'data-blockUser': data[i].user});
				// 				}else{
				// 					// var oldTitle = container.find('tr[data-id='+data[i].id+']').attr('data-title');
				// 					container.find('tr[data-id='+data[i].id+']').removeClass('u-cot-block').attr({'id':data[i].id, 'data-block': false, 'data-blockUserName':"", 'data-blockUserEmail': "", 'data-blockUser': ""});
				// 					// container.find('tr[data-id='+data[i].id+']').find('td.currency').text($.number(data[i].totalNeto, currency.decimals, currency.decimals_sep, currency.thousands_sep));
				// 					// container.find('tr[data-id='+data[i].id+']').find('td.currency').append('<span style="position: absolute; left: 10px;">'+ exchange + '</span> ');
				// 					// container.find('tr[data-id='+data[i].id+']').find('td.text').text(data[i].description);
				// 				}
								
				// 			}
				// 		}
				// 	});

				// 	unblockDisconnected(socketNew);
					
				// }catch(err){
				// 	console.log(err);
				// 	console.warn('socket no disponible, no se bloquearan cotizaciones');
				// }

				// current_tab = 0;
				unaBase.toolbox.init();
				// Inicializamos un buscador
				var params = {
					// Función que genera una URL de listado JSON
					url: function() { return '/4DACTION/_V3_getCotizacion' },
					entity: 'Cotizacion',
					searchOff: true,
					callback : function(data){

					
						$('tfoot.totales').find('span[data-neto]').text(data.totales.neto);

						// Fijar header y footer
						$('#viewport .fht-table-init').fixedHeaderTable('destroy');
						//$('#viewport table.fixed').fixedHeaderTable({ footer: true, cloneHeadToFoot: false, fixedColumn: false });
						// --ini-- corrección para ordenar - GIN - V3_212
						$('#viewport table.fixed').fixedHeaderTable({
							footer: true,
							cloneHeadToFoot: false,
							fixedColumn: false,
							create: function() {
								$('[data-sort-by]').removeClass('sort-order-desc').removeClass('sort-order-asc').removeData('sort-order');
								$('[data-sort-by="' + data.sort.by + '"]').addClass('sort-order-' + data.sort.order).data('sort-order', data.sort.order);
							}
						});
						// --fin-- corrección para ordenar - GIN - V3_212

						//$('#search input[name="parametro"]').attr('placeholder', data.parametros.nombre_param1.toLowerCase()).css('text-transform', 'capitalize');


						for(var i = 0; i < $('tbody.ui-selectable tr').length; i ++ ){ 
							var dataBlock = $('tbody.ui-selectable tr')[i].dataset.block;
							var dataUser = $('tbody.ui-selectable tr')[i].dataset.blockuser;
							if(dataBlock == "true"){								
								$('tbody.ui-selectable tr')[i].className += " block_by_use u-cot-block";
							}
						}
						// oculta boton cerrar session cuando está dentro de la lista de cotización
						// $('.u-btn-close-session').hide();
					},
					// Función que genera cada fila de la tabla, dado el valor de i (índice de posición)
					// y el valor de rows (array con todos los resultados)
					// El contenido de rows corresponde al objeto de mismo nombre generado mediante la llamada
					// a la api JSON. Ver /v3/json/get_cotizacion.shtml para conocer el formato.
					row: {
						html: function(i, rows) {

							var nombre_cliente = rows[i].empresa;
							if (mostrar_marca_nocliente) {
								if (rows[i].marca != "") {
									nombre_cliente = rows[i].marca;
								}else{
									nombre_cliente = ((rows[i].empresa !== undefined)? rows[i].empresa.alias : 'N/A');
								}
							}else{
								nombre_cliente = ((rows[i].empresa !== undefined)? rows[i].empresa.alias : 'N/A');
							}


							let difUP = 0;
							if (rows[i].total_neto > 0) {
								difUP = rows[i].total_neto - rows[i].costo.presupuestado;
							}
						
							var title = "Área de negocio: " + rows[i].area_negocio + " / Emisor: " + rows[i].username.toUpperCase();
							//var htmlData = '';
							let isBlock = (!superUsers.includes(currentUser.username) ) ? rows[i].block_by_use : false;
							//if (typeof rows[i].folio != 'undefined' && rows[i].folio != -1)
							var htmlData = '<tr data-id="' + rows[i].id + '"  data-index="' + rows[i].index + '" data-username="' + rows[i].username + '" data-status="' + rows[i].status + '" data-gasto-real="' + rows[i].gasto_real + '" title="' + title + '" data-block="'+isBlock+'"  data-blockUser="'+rows[i].block_user+'" data-blockUserEmail="'+rows[i].block_user_email+'" data-blockUserName="'+rows[i].block_user_name+'" data-title="'+title+'" data-id-proyecto="' + rows[i].id_proyecto + '" data-text-proyecto="' + rows[i].text_proyecto + '">' +
								'<td data-disabled=true><input class="selected" type="checkbox" name="selected_one"></td>' +
								//'<td' + (rows[i].gasto_real? ' style="color: red;"' : '') + '>' + rows[i].folio + '</td>' +
								'<td>' + rows[i].folio + ' '+ ((rows[i].text_proyecto !="Sin proyecto") ? '<span class="label-info-proyecto" style="display:block;color:rgb(67,165,24);font-size:9px;margin-top:5px;">'+ rows[i].text_proyecto +'</span>' : '') +'</td>' +

								<!--#4DIF (show_codigo_column)-->
								'<td>' + rows[i].codigo + '</td>' +
								<!--#4DENDIF-->

								'<td>' + ((rows[i].created_at !== undefined)? '<time datetime="' + Date.parse(rows[i].created_at).toISOString() + '">' + $.datepicker.formatDate('dd-mm-yy', Date.parse(rows[i].created_at)) + ' <span>' + Date.parse(rows[i].created_at).toTimeString().match( /^([0-9]{2}:[0-9]{2}:[0-9]{2})/ )[0].substring(0, 5) +  '</span></time>' : 'N/A' ) + '</td>' +
								'<td>' + ((rows[i].updated_at !== undefined)? '<time datetime="' + Date.parse(rows[i].updated_at).toISOString() + '">' + $.datepicker.formatDate('dd-mm-yy', Date.parse(rows[i].updated_at)) + ' <span>' + Date.parse(rows[i].updated_at).toTimeString().match( /^([0-9]{2}:[0-9]{2}:[0-9]{2})/ )[0].substring(0, 5) +  '</span></time>' : 'N/A' ) + '</td>' +
								'<td>' + rows[i].fecha_realizacion + '</td>' +

								<!--#4DIF (v3_mostrar_columna_emisor)-->
								'<td>' + ((rows[i].username != '')? rows[i].username : 'N/A') + '</td>' +
								<!--#4DENDIF-->

								'<td>' + ((rows[i].ejecutivo != '')? rows[i].ejecutivo : 'N/A') + '</td>' +
								'<td class="left">' + nombre_cliente + '</td>' +
								'<td class="text">' + rows[i].text + '</td>' +

								(
									(rows[i].exchange !== undefined && rows[i].exchange.type != currency.code)?
									'<td width="100" style="text-align: right; position: relative;"><span style="position: absolute; left: 5px;">'+ rows[i].exchange.type + '</span> ' + (rows[i].total_neto / rows[i].exchange.rate).numberFormat(2, ',', '.') + '</td>'
									:
									'<td width="100" class="currency">' + rows[i].total_neto + '</td>'
								) +

								'<td style="'+ ((currency.code != "PEN") ? 'display:none' : '') + '" class="currency modo-peruvian">' + rows[i].costo.presupuestado + '</td>' +
								'<td style="'+ ((currency.code != "PEN") ? 'display:none' : '') + '" class="currency modo-peruvian">' + (rows[i].total_neto - rows[i].costo.presupuestado) + '</td>' +
								'<td style="'+ ((currency.code != "PEN") ? 'display:none' : '') + ((difUP < 0) ? 'color:red' : '') + '" class="percent modo-peruvian">' + ((rows[i].total_neto > 0)? ((rows[i].total_neto - rows[i].costo.presupuestado) / rows[i].total_neto) * 100.00 : 'N/A')  + '</td>' +

								'<td <!--#4DIF (Not(show_validated_column))-->style="display: none;"<!--#4DENDIF-->>' + ((rows[i].validated)? 'Si' : 'No') + '</td>' +

							'</tr>';
							return htmlData;
						}
					},
					// detail: {
					// 	// Función que genera una URL de detalle, dado el id (identificador de item)
					// 	url: function(id) { return '/v3/views/cotizaciones/content.shtml?id=' + id },
					// },
					// Inflexiones
					inflection: {
						singular: 'cotización',
						plural: 'cotizaciones',
						none: 'ninguna'
					},
					// Filtros
					filters: [
						{ name: 'created_at', type: 'month', caption: 'Fecha de creación', range: true },
						//{ name: 'updated_at', type: 'month', caption: 'Fecha últ. modificación', range: true },
						// Pendiente: agregar datasource remoto y convertir a checkbox
						// con jquery ui autocomplete
						{ name: 'area_negocio', type: 'autocomplete', caption: 'Área de negocio', dataSource: 'getAreaNegocio' },

						{ name: 'por_emisor', type: 'autocomplete', caption: 'Por emisor', dataSource: 'getUsuariosEmisores' },

						{ name: 'ejecutivo_responsable', type: 'autocomplete', caption: 'Ejecutivo responsable', dataSource: 'getUsuarioEjecutivo?state=cot' },


						{ name: 'validated', type: 'autocomplete', caption: 'Según validación', dataObject: [
							{ id: 'true', text: 'Validadas' },
							{ id: 'false', text: 'No validadas' }
						]},
						{ name: 'oc_proveedor', type: 'autocomplete', caption: 'Según OC Proveedor', dataObject: [
							{ id: 'true', text: 'Con OC proveedor' },
							{ id: 'false', text: 'Sin OC proveedor' }
						]},

						{ name: 'estado', type: 'checkbox', caption: 'Estado de la cotización', options: [
							{ caption: 'En proceso', name: 'estado_en_proceso', value: true },
							{ caption: 'Anulada', name: 'estado_nulo', value: false }
						] },

						{ name: 'mas_busquedas', type: 'autocomplete', caption: 'Más filtros', dataObject: [
							{ id: 'compartido', text: 'Compartido' },
							{ id: 'no_compartido', text: 'Por compartir' },
							{ id: 'conversion_solicitada', text: 'Conversión solicitada' },
							{ id: 'conversion_por_solicitar', text: 'Conversión no solicitada' },
							{ id: 'validacion_solicitada', text: 'Validación solicitada sin validar' },
							{ id: 'validacion_por_solicitar', text: 'Validación no solicitada' },
							{ id: 'validacion_rechazada', text: 'Validación rechazada' },
							{ id: 'cotizaciones_vencidas', text: 'Cotizaciones vencidas' }
						]},

						{ name: 'por_proyecto', type: 'autocomplete', caption: 'Por proyecto', dataSource: 'getProyectosActivos' },

						{ name: 'personalizadoUno', type: 'autocomplete', caption: 'campo1', dataSource: 'getParamForSearch1' },

						{ name: 'personalizadoDos', type: 'autocomplete', caption: 'campo2', dataSource: 'getParamForSearch2' },

						{ name: 'personalizadoTres', type: 'autocomplete', caption: 'campo3', dataSource: 'getParamForSearch3' },

						{ name: 'motivo_anulacion', type: 'autocomplete', caption: 'Motivo anulación', dataSource: 'getMotivoAnulacionFiltro?modulo=Cotizacion' }

					]
				};

				unaBase.toolbox.search.init(params);

				unaBase.toolbox.menu.init({
					entity: 'Cotizacion', // especifica entidad sobre la cual se almacenan los datos
										  // y nombre para referenciar los views
					/*buttons: [ 'new', 'clone', 'print' ]*/
					<!--#4DIF _V3_verifica_permisos_web(_V3_data_username;514)-->
					buttons: [ 'searchOff','new' ,'print','export_list' ]
					<!--#4DELSE-->
					buttons: ['searchOff', 'print' ]
					<!--#4DENDIF-->
				});


				$("body").on("click", "input.selected", function(){
					var input = $(this);
					if (input.attr('name') == "selected_all" ) {
						if (input.prop("checked")) {
							$('table tbody input[name="selected_one"]').prop("checked", true);
							$('#dropdown_launcher').show();
						}else{
							$('table tbody input[name="selected_one"]').prop("checked", false);
							$('#dropdown_launcher').hide();
						}
					}else{
						var cantSelect = $('table tbody td input:checked').length;
						if (input.prop("checked")) {
							$('#dropdown_launcher').show();
						}else{
							if(cantSelect == 0){
								$('#dropdown_launcher').hide();
							}
						}
					}
				});

				// ir a detalle
				// $('table.padre tbody').on('click', 'tr[data-block="false"]', function() {
				//   	var idCot = $(this).closest("tr").data("id");
				// 	unaBase.loadInto.viewport('/v3/views/cotizaciones/content.shtml?id=' + idCot+'&from=self');
				// });
				$('table.padre tbody').on('click', 'td', function() {
					var idCot = $(this).parent('tr').data("id");
					var number = $(this).parent('tr').data("index");
					var disb = $(this).attr('data-disabled');
					var trBlocked = $(this).closest("tr").attr('data-block');
					var trBlockedUser = $(this).closest("tr").attr('data-blockuser');
					if(trBlocked == 'false' && !disb){
						unaBase.loadInto.viewport('/v3/views/cotizaciones/content.shtml?id=' + idCot+'&from=self');
					}else if(trBlockedUser == $('html > body.menu.home > aside > div > div > h1').data('username')){
						confirm('Esta cotización esta bloqueada ya que anteriormente estabas trabajando en ella, si deseas seguir editándola verifica que no la tengas abierta en otra pestaña, de no ser así, desbloqueala acá.').done(function(data) {
							if (data) {
								window.open(nodeUrl+'/unblockSameUser/'+idCot+'/'+ $('.sidebar li.active').data('name')+'/'+$(this).attr('data-blockuser'), '_blank');								
								// $(this).remove();
								unaBase.history.back();
							}
						});


					}else if (!disb){
						var block_user = $(this).parent('tr').attr('data-blockuser');
						var block_user_email = $(this).parent('tr').attr('data-blockuseremail');
						var block_user_name = camelWord($(this).parent('tr').attr('data-blockUserName'));
						var reqName = camelWord($('html > body.menu.home > aside > div > div > h1').text());
						var reqEmail = $('html > body.menu.home > aside > div > div > h1').data('email');
						confirm('La cotización está siendo modificada por  <br/> <span id="userBlock">'+block_user_name+'</span><br/> ¿Deseas solicitar el desbloqueo de esta cotización?').done(function(data) {
							if (data) {
								var htmlText = 'Estimado <b style="color: rgb(4,167,107); ">'+block_user_name+'</b>,<br>    Actualmente estás trabajando en la cotización Nro.'+number+', <b>'+reqName+'</b> ha solicitado trabajar en la misma. Si aún continuas trabajando y deseas habilitar el acceso debes guardar y salir de la cotización. <br><br> De lo contrario, si ya no te estás dentro de la cotización puedes desbloquearla. <br><br> <a class="u-internal" href="'+nodeUrl+'/unblock/'+idCot+'/'+number+'/cotizaciones/'+block_user+'/'+reqName+'/'+reqEmail+'">Desbloquear</a><br><br>';
								window.open(nodeUrl+'/unblock?subject='+reqName+' ha solicitado desbloquear la cotización Nro.'+number+'&msg='+htmlText+'&email='+block_user_email, '_blank');
								$(this).remove();
							}
						});
					}
				});

				// Opciones para listado
				(function() {
					var htmlObject;

					htmlObject = $('\
						<ul id="dropdown_menu" class="dropdown-menu" style="position: absolute; top: 95px; left: 11px; z-index: 1000;"> \
							<li><a href="#" '+ ((!access._520)? 'style="color:gray"':'') +' class="discard-cotizaciones" data-size="small"><span class="ui-icon ui-icon-cancel"></span>Anular cotizaciones</a></li>	\
							<li><a href="#" '+ ((!access._580)? 'style="color:gray"':'') +' class="asociar-proyectos" data-size="small"><span class="ui-icon ui-icon-link"></span>Asociar a proyecto</a></li>	\
						</ul> \
					');

					htmlObject.find('a.discard-cotizaciones').click(function(event) {
						if (access._520) {						
							// lógica para cerrar negocios masivo
							var ids = [];
							var ids_nulo = [];
							var ids_gasto = [];

							$('#viewport tbody.ui-selectable tr[data-id] td:first-of-type input.selected:checked').each(function() {
								ids.push($(this).closest('tr').data('id'));
								if (!$(this).closest('tr').data('status')) {
									ids_nulo.push($(this).closest('tr').data('id'));
								}
								if ($(this).closest('tr').data('gasto-real')) {
									ids_gasto.push($(this).closest('tr').data('gasto-real'));
								}
							});

							var nulo = (ids_nulo.length > 0);
							var gasto = (ids_gasto.length > 0);

							if (!nulo && !gasto) {
								confirm(MSG.get('CONFIRM_DOCUMENT_NULLIFY_BATCH')).done(function(data) {
									if (data) {
										var htmlObject = $('<section> \
											<span>Ingresar motivo anulación</span> \
											<input required readonly type="search" name="motivo"> \
											<button class="show motivo-anulacion">Ver motivos de anulación</button> \
										</section>');
										htmlObject.find('input[type="search"]').autocomplete({
											source: function(request, response) {
												$.ajax({
													url: '/4DACTION/_V3_' + 'getMotivoAnulacion',
													dataType: 'json',
													data: {
														//q: request.term
														modulo: params.entity
													},
													success: function(data) {
														response($.map(data.rows, function(item) {
															return item;
														}));
													}
												});
											},
											minLength: 0,
											delay: 5,
											position: { my: "left top", at: "left bottom", collision: "flip" },
											open: function() {
												$(this).removeClass('ui-corner-all').addClass('ui-corner-top');
											},
											close: function() {
												$(this).removeClass('ui-corner-top').addClass('ui-corner-all');
											},
											focus: function(event, ui) {
												$(this).val(ui.item.text);
												return false;
											},
											select: function(event, ui) {
												$(this).val(ui.item.text);
												htmlObject.data('response', $(this).val());
												return false;
											}

										}).data('ui-autocomplete')._renderItem = function(ul, item) {
											return $('<li><a><span>' + item.text + '</span></a></li>').appendTo(ul);
										};

										htmlObject.find('button.show.motivo-anulacion').button({
											icons: {
												primary: 'ui-icon-carat-1-s'
											},
											text: false
										}).click(function() {
											htmlObject.find('input[type="search"]').autocomplete('search', '@');
										});

										prompt(htmlObject).done(function(data) {
											unaBase.ui.block();
											var enteredMessage = data;
											$.ajax({
												url: '/4DACTION/_V3_batchDiscardByCotizacion',
												dataType: 'json',
												data: {
													ids: ids.join('|'),
													'cotizacion[estado]': false,
													'cotizacion[estado][observaciones]': data,
													'nullify': true, // TODO: este deberia ser el parámetro definitivo para anular genérico
													'comment': data
												},
												success: function(data) {
													if (data.success) {
														setTimeout(function() {
															unaBase.toolbox.search.save();
															unaBase.toolbox.search.restore();
														}, 1000);
														toastr.info('Los documentos han sido anulados con éxito.');
														/*unaBase.inbox.send({
															subject: 'Ha anulado la cotización Nº ' + $('section.sheet').data('index') + ' / ' + $('section.sheet').find('input[name="cotizacion[titulo][text]"]').val(),
															into: 'viewport',
															href: '/v3/views/cotizaciones/content.shtml?id=' + data.id,
															tag: 'avisos',
															text: enteredMessage
														});*/
														// refrescar lista

													} else {
														if (data.opened) {
															if (data.readonly)
																toastr.error(NOTIFY.get('ERROR_RECORD_READONLY', 'Error'));
														}
													}
													// unaBase.ui.unblock();
												},
												complete: function(){
													// alert();
													unaBase.ui.unblock();
												},
												error: function(xhr, text, error) {
													toastr.error(NOTIFY.get('ERROR_INTERNAL', 'Error'));
													unaBase.ui.unblock();
												}
											});
										});
									}
								});
							} else {
								var msg = "No es posible hacer anulación masiva de cotizaciones porque se han seleccionado:<br>";
								msg+= nulo? "- Cotizaciones anuladas.<br>" : '';
								msg+= gasto? "- Cotizaciones con gasto (aplicar filtro OC proveedor para revisar).<br>" : '';
								toastr.warning(msg);
							}
						}else{
							alert("No cuentas con permiso para realizar esta acción.");
						}
					});

					htmlObject.find('a.asociar-proyectos').click(function(event) {
						if (access._580) {
							let ids = [];
							let ids_nulo = [];
							let ids_con_proyectos = [];

							$('#viewport tbody.ui-selectable tr[data-id] td:first-of-type input.selected:checked').each(function() {
								ids.push($(this).closest('tr').data('id'));
								if (!$(this).closest('tr').data('status')) {
									ids_nulo.push($(this).closest('tr').data('id'));
								}
								if ($(this).closest('tr').data('id-proyecto')) {
									ids_con_proyectos.push($(this).closest('tr').data('id'));
								}
							});

							let nulo = (ids_nulo.length > 0);
							let asociado_a_proyecto = (ids_con_proyectos.length > 0);
							if (!nulo && !asociado_a_proyecto) {

								let htmlObject = $('<section> \
										<!--<span>Buscar proyecto para asociar:</span>--> \
										<form autocomplete="on" target="the_iframe" action="about:blank"> \
											<input data-id-seleccionado="0" placeholder="Buscar proyecto para asociar..." style="border: 1px solid lightgray;width:250px;margin:5px 0 0 0;border-radius:3px;padding:2px;background-color:yellow;" required type="text" name="buscar_proyectos_selected"> \
											<div style="margin-top:5px;">ó <a href="#" class="newproject" style="color:green;!important;font-size:8px;!important">+ Crear nuevo proyecto para asociar</a></div>\
											<iframe style="display: none;" id="the_iframe" name="the_iframe" src="about:blank"></iframe> \
										</form> \
									</section>');

								// buscar proyectos
								htmlObject.find('input[name="buscar_proyectos_selected"]').autocomplete({
								  source: function(request,response) {
									$.ajax( {
									 	url: '/4DACTION/_V3_getProyectosActivos',
									  dataType: "json",
									  type: 'POST',
									  data: {
										q: request.term
									  },
									  success: function(data) {
										response($.map(data, function(item) {
											return item;
										}));
									  }
									});
								  },
								  minLength: 2,
								  select: function(event,ui) {
								 	htmlObject.find('input[name="buscar_proyectos_selected"]').val(ui.item.text);
								 	htmlObject.find('input[name="buscar_proyectos_selected"]').data('id-seleccionado', ui.item.id);
									return false;
								  }
								}).data('ui-autocomplete')._renderItem = function(ul, item) {
									return $(`<li><a class="u-show-list"> ${item.text}</a></li>`).appendTo(ul);
								};

								confirm(htmlObject, 'Asociar','Cancelar').done(function(data) {
									let id = $('input[name="buscar_proyectos_selected"]').data('id-seleccionado');									
									if (data) {
										if (parseFloat(id) > 0) {
											$.ajax({
												url: '/4DACTION/_V3_batchAsociarProyectos',
												data: {
													ids: ids.join('|'),
													idproyecto: $('input[name="buscar_proyectos_selected"]').data('id-seleccionado')											},
												dataType: 'json',
												success: function(data) {
													if (data.success) {
														toastr.success('Negocios asociados con éxito.');
														setTimeout(function() {
															unaBase.toolbox.search.save();
															unaBase.toolbox.search.restore();
														}, 1000);
													} else {
														if (data.opened) {
															if (data.readonly)
																toastr.error(NOTIFY.get('ERROR_RECORD_READONLY', 'Error'));
														}
													}
												}
											});
										}else{
											toastr.warning('Falta seleccionar proyecto.');
											callback(data)
										}										
									}
								});

								htmlObject.find('.newproject').click(function(){
									var htmlObject2 = $('<section> \
										<span>Ingrese nombre del nuevo proyecto:</span> \
										<form autocomplete="on" target="the_iframe" action="about:blank"> \
											<input type="hidden" name="express" value="ok"> \
											<input style="border-bottom: 1px solid black;" required type="text" name="nombre_nuevo_proyecto"> \
										</form> \
										<iframe style="display: none;" id="the_iframe" name="the_iframe" src="about:blank"></iframe> \
									</section>');
									htmlObject2.find('input').on('blur change', function() {
										htmlObject2.data('response', $(this).val());
									});
									prompt(htmlObject2, 'Guardar','Cancelar').done(function(data) {
										if (data !== false) {											
											if (data != "") {
												htmlObject2.find('form')[0].submit();
												$.ajax({
													url: '/4DACTION/_V3_setProyecto_responsive',
													data: {
														nombre_express : data,
														express: true
													},
													dataType: 'json',
													success: function(data) {
														if (data.success) {
															toastr.success('Proyecto creado con éxito.');
															htmlObject.find('input[name="buscar_proyectos_selected"]').val(data.index + " - " + data.text);
									 						htmlObject.find('input[name="buscar_proyectos_selected"]').data('id-seleccionado', data.id);
														} else {
															if (data.opened) {
																if (data.readonly)
																	toastr.error(NOTIFY.get('ERROR_RECORD_READONLY', 'Error'));
															}
														}
													}
												});
											}else{
												toastr.warning('Falta ingresar nombre proyecto.');
												callback(data);
											}
										}
									});
								});								

							} else {
								let msg = "No es posible asociar a proyecto porque se han seleccionado:<br>";
								msg+= nulo? "- Negocios anulados.<br>" : '';
								msg+= asociado_a_proyecto? "- Negocios que ya están asociados a proyectos.<br>" : '';
								toastr.warning(msg);
							}

						}else{
							alert("No cuentas con permiso para realizar esta acción.");
						}
					});

					htmlObject.menu().hide();

					$('#dropdown_launcher').parentTo('header').before(htmlObject);
					$('#dropdown_launcher').css('float', 'left');

					$('#dropdown_launcher').click(function() {
						var element = this;
						$('#dropdown_menu').toggle();
					});
				})();

				// -- ini -- verifica opciones filtro por proyecto
				$('.show.por_proyecto').hide();
				$('#autocomplete_por_proyecto').addClass('style_por_proyecto');
				if (cant_proyectos_registrados == 0) {
					$('input[name="por_proyecto"]').hide();
				}
				// -- fin -- verifica opciones filtro por proyecto

				// -- ini -- verifica opciones filtro por campos personalizados, g, 26-04-18
				let  placeholderParam1 = '<!--#4DTEXT placeholderParam1-->';
				let  placeholderParam2 = '<!--#4DTEXT placeholderParam2-->';
				let  placeholderParam3 = '<!--#4DTEXT placeholderParam3-->';
				$('#autocomplete_personalizadoUno').attr('placeholder', placeholderParam1);
				$('#autocomplete_personalizadoDos').attr('placeholder', placeholderParam2);
				$('#autocomplete_personalizadoTres').attr('placeholder', placeholderParam3);
				if (placeholderParam1 == '') {
					$('#autocomplete_personalizadoUno').closest('label.autocomplete').hide();
				}
				if (placeholderParam2 == '') {
					$('#autocomplete_personalizadoDos').closest('label.autocomplete').hide();
				}
				if (placeholderParam3 == '') {
					$('#autocomplete_personalizadoTres').closest('label.autocomplete').hide();
				}
				// -- fin -- verifica opciones filtro por campos personalizados, g, 26-04-18


				document.title = 'COTIZACIÓN - Lista / <!--#4DTEXT _V3_nombre_empresa-->';

				// para ocultar filtro anulacion cuando no se filtra por anulados
				$('input[name="motivo_anulacion"]').closest('.autocomplete').hide();
				$('input[name="estado_nulo"]').click(function(){
					if ($(this).prop("checked")) {
						$('input[name="motivo_anulacion"]').closest('.autocomplete').show();
					}else{
						$('input[name="motivo_anulacion"]').closest('.autocomplete').hide();
					}
				});

				// para mostrar filtro pro emisor en el caso que el para,etro este activado
				<!--#4DIF (v3_mostrar_columna_emisor)-->
					$('input[name="por_emisor"]').closest('.autocomplete').show();
				<!--#4DELSE-->
					$('input[name="por_emisor"]').closest('.autocomplete').hide();
				<!--#4DENDIF-->


				// para setear iconos
				/*$('button.show.mas_busquedas').click(function(){
					$('.ui-menu-item > a[text="Compartido"]').text('lalala!');
				});*/


				// ocultar opciones modo pèru, by gin-08-19
				if (currency.code != "PEN") {
					$('.modo-peruvian').hide();
				}

			});
		</script>
	</head>
	<body style="min-width: 900px !important;">
		<!-- Maqueta de la tabla que contendrá los resultados de búsqueda -->
		<table class="padre results fixed" style="min-width: 900px !important; width: 100% !important;">
			<thead>
				<tr>
					<th class="center" width="2%" ><div style="padding:2px">Todo</div><div><input class="selected" type="checkbox" name="selected_all"></div></th>
					<th data-sort-by="folio" data-sort-default="desc">Número</th>

					<!--#4DIF (show_codigo_column)--><th data-sort-by="codigo" data-sort-default="desc">Código</th><!--#4DENDIF-->

					<th data-sort-by="created_at" data-sort-default="desc">Fecha Creación</th>
					<th data-sort-by="updated_at" data-sort-default="desc">Fecha Últ. Mod</th>
					<th data-sort-by="fecha_realizacion" data-sort-default="desc">Fecha Realización</th>

					<!--#4DIF (v3_mostrar_columna_emisor)--><th data-sort-by="emisor" data-sort-default="asc">Emisor</th><!--#4DENDIF-->

					<th data-sort-by="ejecutivo" data-sort-default="asc">Ejecutivo</th>
					<th data-sort-by="alias" data-sort-default="asc"><!--#4DIF mostrar_marca_nocliente-->Marca<!--#4DELSE-->Cliente<!--#4DENDIF--></th>
					<th data-sort-by="text" data-sort-default="asc">Referencia</th>

					<!--#4DIF Not(no_mostrar_total_neto)-->
					<th data-sort-by="total_neto" data-sort-default="desc">TOTAL NETO</th>
					<!--#4DENDIF-->

					<th width="10%" class="modo-peruvian" data-sort-by="total_gpresp" data-sort-default="desc">GASTO P.</th>
					<th width="10%" class="modo-peruvian" data-sort-by="total_upmomto" data-sort-default="desc">UTIL. PRESUP.</th>
					<th width="10%" class="modo-peruvian" data-sort-by="total_uppercent" data-sort-default="desc">% UTIL. PRESUP.</th>

					<th <!--#4DIF (Not(show_validated_column))-->style="display: none;"<!--#4DENDIF-->>Validada</th>
				</tr>
			</thead>
			<tfoot class="totales">
				<th style="text-align:left"></th>
				<!--#4DIF (show_codigo_column)--><th style="text-align:left"></th><!--#4DENDIF-->
				<th style="text-align:left"></th>
				<th style="text-align:left"></th>
				<th style="text-align:left"></th>
				<!--#4DIF (v3_mostrar_columna_emisor)--><th style="text-align:left"></th><!--#4DENDIF-->
				<th style="text-align:left"></th>
				<th style="text-align:left"></th>
				<th style="text-align:left"></th>
				<th style="text-align:left"></th>
				<th class="center"><span data-neto="" class="label2"><!--#4DVAR _V3_defaultCurrencySymbol-->0</span></th>

				<th class="modo-peruvian" style="text-align:left"></th>
				<th class="modo-peruvian" style="text-align:left"></th>
				<th class="modo-peruvian" style="text-align:left"></th>

				<th <!--#4DIF (Not(show_validated_column))-->style="display: none;"<!--#4DENDIF-->></th>
			</tfoot>
			<tbody></tbody>
		</table>
		<div id="dialog-confirm" style="font-size: 14px; text-align: center;" title="Solicitar edición" hidden="">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>La cotización está siendo modificada por  <br/> <span id="userBlock"></span><br/> ¿Deseas solicitar el desbloqueo de esta cotización?</p>
</div>
		<div id="dialog-confirm-sameUser" style="font-size: 14px;" title="Solicitar edición" hidden="">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Esta cotización esta bloqueada ya que anteriormente estabas trabajando en ella, si deseas seguir editándola verifica que no la tengas abierta en otra pestaña, de no ser así, desbloqueala acá.</p>
</div>
	</body>
	<script>
	</script>
</html>
