
      
        section form fieldset p{
            /*text-align: center;*/
            color: #04a76b;
            font-weight: bold;
            margin-left: 4em;
            text-decoration: underline;
            cursor: pointer;
        }

        .passwordRecovery h1{
          font-weight: bold;
        }
        .passwordRecovery{
          background-color: white;
          padding: 5px;
          text-align: center;
        }
        .passwordRecovery *{
          margin: 5px;
        }
        .passwordRecovery input[type=text],.passwordRecovery input[type=mail]{
          background-color: lightgrey;
        }
        .tooltipster-content{
          padding: 0 !important;
        border: 4px solid #04a76b;  
        border-radius: 5px;
        }
        input[name="reiniciar"]{

        background-color : lightgrey ;
        color : black ;
        padding : 7px ; 
        margin: 3px ; 
        -webkit-border-radius: 5px;
        border-radius:5px;
        font-weight: bold
        }input[name="reiniciar"]:hover{
        cursor: pointer;
        background-color : grey ;
        color : black ;
        padding : 7px ; 
        margin: 3px ; 
        -webkit-border-radius: 5px;
        border-radius:5px;
        font-weight: bold

        }
        input[name="reiniciar"]:active{
        cursor: pointer;
        background-color : lightgrey ;
        color : white ;
        padding : 7px ; 
        margin: 3px ; 
        -webkit-border-radius: 5px;
        border-radius:5px;
        font-weight: bold
        }