<!DOCTYPE html>
<html>
    <head>
    	
        <title>Calendar</title>
        <meta charset="utf-8">
        
        <!--<link rel="stylesheet" href="/v3/design/reset.css">-->
		<link href='/v3/script/jquery/plugins/fullcalendar-1.6.4/fullcalendar/fullcalendar.css' rel='stylesheet' />
		<link href='/v3/script/jquery/plugins/fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
		<!--<script src="/v3/script/jquery/jquery.js"></script>-->
		<!-- <script src="/v3/script/jquery/plugins/jquery-ui/js/jquery-ui.js"></script> -->
		<script src="/v3/script/jquery/plugins/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js"></script>
		<!-- <link rel="stylesheet" href="/v3/script/jquery/jquery-plugins.css"> -->

        <script>
        	//
        	var paramsCalendar = {
				type: 'calendar',
				format_fecha:'yyyy-mm-dd',
				custom_param1: 'something',
				custom_param2: 'somethingelse',
				tipo: 'ot'
			};

			//var paramsCalendarExtra = {};

            $(document).ready(function() {
            	//
            	$('.toolbox input[type="search"]').hide();

            	//---------

            	$('.calendar-icon').button({icons:{primary:"ui-icon-calendar"}},{text:true});
				$('#calendar').fullCalendar({
					header: {
						left: 'prev,next,today',
						center: 'title',
						right: 'month,agendaWeek,agendaDay'
					},
					defaultView:'agendaWeek',
					buttonText: {today:'Hoy',month:'Mensual', week:'Semanal',day:'Diario'},
				    dayNames:['Domingo', 'Lunes', 'Martes', 'Miércoles','Jueves', 'Viernes', 'Sabado'],
				    dayNamesShort:['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
				    monthNames:['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio','Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				    monthNamesShort:['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun','Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
					editable: false,
					agenda: 'h:mm{ - h:mm}',			
					allDayText:'Todo el día',
					timeFormat: 'H:mm{ - H:mm}',
					axisFormat:'H(:mm)tt',
					/*events: {		      
				        url: '/4DACTION/_V3_get_planned_ot',
				        type: 'POST',		     
				        data: {
				        	type: 'calendar',
				        	format_fecha:'yyyy-mm-dd',
				            custom_param1: 'something',
				            custom_param2: 'somethingelse',
				            otro: 'hola'
				        },
				        error: function() {		       
				            alert('OCURRIO UN ERROR AL CARGAR LOS DATOS, INTENTE NUEVAMENTE!');
				        }
				    },*/
					events: {		      
				        url: '/4DACTION/_V3_getCalendar',
				        type: 'POST',		     
				        data: function() {
				        	//
				        	//var allParams = {};
				        	//allParams = $.extend({}, paramsCalendar, paramsCalendarExtra);

				        	//paramsCalendarExtra = {};
				        	//return allParams;
				        	return paramsCalendar;
				        },
				        error: function() {		       
				            alert('OCURRIO UN ERROR AL CARGAR LOS DATOS, INTENTE NUEVAMENTE!');
				        }
				    },
				    /* events: function(start, end, timezone, callback) {
				    		      
				        $.ajax({
				        	url: '/4DACTION/_V3_get_planned_ot',
					        type: 'POST',		     
					        data: {
					        	//start: start.unix(),
                				//end: end.unix(),
					        	type: 'calendar',
					        	format_fecha:'yyyy-mm-dd',
					            custom_param1: 'something',
					            custom_param2: 'somethingelse',
					            otro: 'hola'
					        },
					        dataType: 'json',
					        success: function(data) {
					        	var events = [];
				                $.each(data, function(index, value) {
				                    events.push(value);
				                });
				                
				                callback(events);
					        },
					        error: function() {		       
					            alert('OCURRIO UN ERROR AL CARGAR LOS DATOS, INTENTE NUEVAMENTE!');
				        	}
				        });
				    }, */
				    eventClick: function(event) {
				        if (event.url) {
				            window.open(event.url);
				            return false;
				        }
		    		}	
				});

				setTimeout((function() {
					//
					$('.fc-button-today').trigger('click');
				}), 1000);


				setTimeout((function() {
					
					paramsCalendar.tipo = 'timesheet';
					$('#calendar').fullCalendar( 'refetchEvents' );
				}), 10000);

            	//---------

            	
                unaBase.toolbox.init();

                // Inicializamos un buscador
                var params = {
                    callback: function(query) {
                    	//paramsCalendarExtra = query;
						$('#calendar').fullCalendar( 'refetchEvents' );

                    },
                    // Inflexiones
                    inflection: {
                        singular: 'Calendar',
                        plural: 'Calendar',
                        none: 'ninguna'
                    },                                  
                    filters: [
                        //{ name: 'created_at', type: 'month', caption: 'Fecha de creación', range: true },
                        { name: 'areas_trabajo', type: 'autocomplete', caption: 'Áreas', dataSource: 'getAreaNegocio' },
                        { name: 'responsables_areas', type: 'autocomplete', caption: 'Responsables', dataSource: 'getAreaNegocio' },
                        { name: 'modulos', type: 'checkbox', caption: 'Modulos', options: [
							{ caption: 'Timesheet', name: 'timesheet', value: true },
							{ caption: 'Vencimiento OT', name: 'ot', value: false }							
						]}
                    ]
                };

                unaBase.toolbox.search.init(params);
                unaBase.toolbox.menu.init({
                    entity: 'Calendar',
                    buttons: []
                });
				
				


            });
        </script>
    </head>
    <body>
        <!--<table>
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Referencia</th>
                    <th>Responsable</th>
                    <th>HA.</th>
                    <th>HR.</th>  
                    <th>Origen</th>             
                    <th>Emisor</th>
                    <th>Total[$]</th>
                    <th>Estado</th>
                    <th>Validado</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>-->
        <div id='calendar'></div>
    </body>
</html>