#sheet-dtc{
	footer > article{
		> h2 {			
			> span{
				label{
					color:rgb(67,175,124);
				}
				input{
					border-bottom:1px solid gray!important;
				}
				.nro{					
					width:200px!important;		
				}					
				.referencia{			
					width:400px!important;
				}
			}
		}
		> p{
			text-transform:uppercase;
		}
	}
		
}